/*
Colors used:
Primary Color (White): #0b0b0b;
Secondary Color (Black): #ffffff;
Third Color (dark grey): #282828
Highlight Color 2 (lightblue) #0057ff;
*/
html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

* {
  box-sizing: border-box;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

header {
  background-color: #ffffff;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  padding: 10px 0;
  color: #0b0b0b;
  display: flex;
  vertical-align: middle;
  justify-content: space-between;
  width: 100%;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.3);
  position: fixed;
  z-index: 100;
}

nav {
  display: inline-block;
}

nav>ul {
  list-style-type: none;
  text-align: right;
}

nav>ul>li>a {
  padding: 0 15px;
  font-weight: 400;
  text-align: right;
  text-decoration: none;
}

nav>ul>li>a:hover,
nav>ul>li>a:focus {
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

nav>ul>li>a:active {
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle li:not(:first-child) {
  display: none;
}

nav {
  width: 100%;
}

main {
  padding-top: 133px;
}

body {
  background-color: #ffffff;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #0b0b0b;
}

h1, h2, h3, h4, h5 {
  line-height: 1.4;
}

h1 {
  font-size: 1.7em;
  font-weight: 700;
  text-align: left;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.3em;
  font-weight: 700;
  text-align: left;
}

h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  text-align: left;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.7;
  /* Sets the line-height to 1.6 * the font-size */
  color: #0b0b0b;
}

/********** Animations **********/
main {
  animation: opening 1.5s ease-in;
}

@keyframes opening {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

/* hover links */
a {
  color: #0b0b0b;
  text-decoration: none;
  /* No underlining */
}

a:hover,
a:focus {
  color: #0b0b0b;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

/* active links */
a:active {
  /* a link the moment it is clicked */
  color: #0057ff;
  background-color: #ffffff;
}

.getintouch {
  background-color: #ffffff;
  height: 250px;
  padding-top: 2%;
  padding-bottom: 5%;
}

/* Send me an Email  / contact Button */
.button.contact {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block */
  background-color: #0b0b0b;
  color: #ffffff;
  text-transform: none;
  max-width: 200px;
  max-height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  line-height: 1.3;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 300;
  margin: 12px;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button.contact:hover {
  background-color: #0057ff;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
}

/* Connect in Linkedin  / contact Button */
.button.contact2 {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block */
  background-color: #ffffff;
  color: #0b0b0b;
  text-transform: none;
  max-width: 200px;
  max-height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  line-height: 1.3;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 300;
  margin: 12px;
  border: 1px solid #0b0b0b;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button.contact2:hover {
  background-color: #ffffff;
  border: 1px solid #0057ff;
  color: #0057ff;
  text-decoration: none;
  opacity: 0.9;
}

.button.contact2:active {
  background-color: #ffffff;
  border: 1px solid #0057ff;
  color: #0057ff;
  text-decoration: none;
}

.logo {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  max-width: 250px;
  color: #0b0b0b;
  margin: 16px;
  min-width: 150px;
  text-decoration: none;
  transition: transform 1s;
  transform: rotateX(0deg);
}

.logo:hover {
  background-color: #ffffff;
  text-decoration: none;
  color: #0057ff;
  transform: rotateX(180deg);
}

/********** Projects **********/
.round-borders {
  border-radius: 10px 10px 0 0;
}

.work-wrapper {
  align-items: center;
  background-color: #F8F8F8;
  padding-bottom: 5%;
  padding-top: 2%;
  width: 100%;
}

.project-box {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
  cursor: pointer;
}

.project {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: white;
  color: #0b0b0b;
  border-radius: 10px;
  margin: 1%;
  width: 30%;
  min-width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  min-height: 550px;
}

.project:hover img {
  transform: translate(0, -5px);
  opacity: 0.8;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 12px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  min-height: 200px;
}

.project-content h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.project-content button {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

/* Read more Buttons */
.button {
  background-color: #0b0b0b;
  color: #ffffff;
  text-transform: none;
  max-width: 200px;
  max-height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  line-height: 1.3;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 300;
  margin-top: 12px;
  margin-bottom: 24px;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  background-color: #0057ff;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
}

.button:active {
  background-color: #0057ff;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

/********** Home Hero **********/
.hero-home {
  padding-bottom: 10%;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  padding-bottom: 5%;
  padding-top: 5%;
}

.intro-home {
  flex-basis: 60%;
  text-align: left;
  max-width: 600px;
  min-width: 320px;
  padding-right: 5%;
  padding-left: 5%;
  margin-top: 0px;
  margin-bottom: 20px;
}

.intro-home h1 {
  background-color: #ffffff;
  font-size: 1.95em;
  letter-spacing: 0.03em;
  padding-top: 0px;
  margin-bottom: 0px;
  display: flex;
  text-align: left;
  width: 100%;
}

.intro-home p {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.7;
  /* Sets the line-height to 1.6 * the font-size */
  color: #0b0b0b;
  padding-top: 0px;
  padding-bottom: 10px;
  display: inline-block;
  text-align: left;
  width: 100%;
}

.home-button-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0px;
  padding-left: 0px;
}

.image-home {
  width: 80%;
  padding-bottom: 5%;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  filter: grayscale(1);
  transition: transform ease-in 0.5s, filter ease-in 0.5s;
}

.image-home:hover {
  transform: translate(0, -5px);
  transform: rotate(1deg);
  filter: grayscale(0);
}

/* ==============================
      Xpertease Project
================================= */
#understand, #pov {
  background-color: #f8f8f8;
  padding-top: 2%;
  padding-bottom: 3%;
}

.overview {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.overview h2 {
  text-align: left;
}

.project-left-column {
  max-width: 400px;
}

.project-right-column {
  max-width: 400px;
}

.middle-image {
  max-width: 280px;
}

.design-process h2 {
  text-align: left;
}

.container-project {
  padding-left: 5%;
  padding-right: 5%;
}

.problem-solution-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.problem-box {
  background-color: #f8f8f8;
  color: #0b0b0b;
  border-radius: 10px;
  margin: 1%;
  max-width: 450px;
  max-height: 400px;
  -webkit-box-shadow: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.30);
  box-shadow: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.30);
}

.problem-content {
  margin-top: 36px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  min-width: 350px;
  max-height: 400px;
}

.solution-content {
  margin-top: 24px;
  margin-left: 36px;
  margin-bottom: 24px;
  min-height: 300px;
  max-width: 500px;
}

#conclusions {
  background-color: #2E4B5F;
  padding-top: 2%;
  padding-bottom: 3%;
  color: #ffffff;
}

#conclusions p {
  color: #ffffff;
  font-weight: 200;
}

#user-personas img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  min-height: 550px;
}

.iteration-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.iteration-images {
  margin-right: 12px;
  flex-basis: 45%;
  padding-bottom: 5%;
}

#refinedesign, #reflections, #furtherdev {
  background-color: #f8f8f8;
  padding-top: 2%;
  padding-bottom: 3%;
}

.prototype-button-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 50%;
  padding-bottom: 5%;
}

/* ==============================
      ABout Page
  ================================= */
.hero-about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 0px;
  width: 100%;
  padding-bottom: 5%;
  flex-wrap: wrap;
  align-content: space-around;
}

.hero-image {
  width: 30%;
  max-width: 30%;
  padding-bottom: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  filter: grayscale(1);
  transition: transform ease-in 0.5s, filter ease-in 0.5s;
}

.hero-image:hover {
  transform: translate(0, -5px);
  transform: rotate(1deg);
  filter: grayscale(0);
}

.description {
  flex-basis: 60%;
  text-align: left;
  max-width: 720px;
  min-width: 320px;
  padding-right: 2%;
  padding-left: 5%;
  margin-top: 0px;
  margin-bottom: 20px;
}

.description h1 {
  font-size: 2.0em;
  margin-top: 0px;
}

.description p {
  font-size: 0.95em;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 0px;
}

.skills-wrapper {
  display: inline-block;
  align-content: center;
  background-color: #f8f8f8;
  padding-top: 2%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 2%;
  width: 100%;
}

.skills-tools {
  font-family: 'Poppins', sans-serif;
  font-size: 1.0em;
  padding-left: 5%;
  min-width: 300px;
}

.skills-tools ul {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  list-style-type: disc;
}

.about-button-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  flex-basis: 50%;
  margin-left: 0px;
}

.contact-button-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 50%;
}

/* ==============================
Small devices // Smaller than iPad (768px and smaller)
================================= */
@media only screen and (max-width: 768px) {
  .project {
    min-height: 320px;
  }

  .hero-image {
    display: none;
  }

  .description h1 {
    font-size: 1.4em;
    font-weight: 700;
    text-align: center;
  }

  .description p {
    font-size: 0.9em;
    font-weight: 300;
    text-align: center;
  }

  .about-button-row {
    justify-content: center;
  }

  .hero-about h3 {
    font-size: 1.2em;
    text-align: left;
    padding-left: 24px;
  }

  .skills-tools {
    font-size: 0.9em;
    text-align: left;
    padding-left: 24px;
  }

  .intro-home h1 {
    font-size: 1.7em;
    letter-spacing: 0.03em;
    text-align: center;
    width: 100%;
  }

  .intro-home p {
    font-size: 1.0em;
    font-weight: 300;
    text-align: center;
  }

  .home-button-row {
    justify-content: center;
  }

  .navtoggle li:not(:first-child) {
    display: none;
  }

  .navtoggle.responsive li {
    display: block;
  }

  .problem-box {
    min-height: 250px;
  }

  .iteration-wrapper {
    flex-direction: column;
  }
}

/* ==============================
   (768px or Larger)
================================= */
@media only screen and (min-width: 768px) {
  .project {
    min-height: 330px;
  }

  .logo {
    max-width: 641px;
  }

  .navtoggle li:first-child {
    display: none;
  }

  .navtoggle li:not(:first-child) {
    display: inline-block;
  }

  .problem-box {
    min-height: 250px;
  }
}

/********** Media Queries **********/
/* ==============================
  Large devices (1024px or larger)
  ================================= */
@media only screen and (min-width: 1024px) {
  .project {
    min-height: 330px;
  }

  .logo {
    max-width: 641px;
  }

  .navtoggle li:first-child {
    display: none;
  }

  .navtoggle li:not(:first-child) {
    display: inline-block;
  }
}

/* ==============================
  X-large devices (1440px or larger)
  ================================= */
@media only screen and (min-width: 1440px) {
  .project {
    min-height: 250px;
  }

  .logo {
    max-width: 641px;
  }

  .navtoggle li:first-child {
    display: none;
  }

  .navtoggle li:not(:first-child) {
    display: inline-block;
  }

  * {
    box-sizing: content-box;
  }
}
